*{
	margin: 0;
	padding: 0;
}
input::-ms-clear {
  display: none;
}
:focus,
:active {
  outline: none;
}




body {
	background-color: #191716;
}


.wrapper {}
.menu {
	background-color: #363230;
	height: 60px;
	margin: 0 0 20px 0;
}
.frames {

}
.menu_wrap {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	align-items: center;
}
.menu_search {
	display: flex;
	align-items: center;
}
.logotype {
	height: 35px;
	width: 35px;
	background-color: white;
	border-radius: 50%;
	margin: 0 10px 0 0;
}
input {
	height: 35px;
}
.box {
	height: 50px;
	width: 110px;
	margin: 0 5px;
	position: relative;
}
.box:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.img1 {
	position: absolute;
	height: 30px;
	top: 10px;
	left: 40px;
}
.circle {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: white;
	margin: 0 5px;
}
.menu_navigation {
	display: flex;
}
.menu_others {
	display: flex;
}
.menu_menu {}
.menu_massenger {}
.menu_notifications {}
.menu_profile {}
.content {
	margin: 0 8px;
}
.content_wrap {
	display: flex;
}
.content_menu {}
.content_menu_wrap {
	display: flex;
	flex-direction: column;
}
.content_menu_box {
	width: 200px;
	height: 50px;
}
.content_menu_box:hover {
	background-color: rgba(255, 255, 255, 0.3);
	transition: 0.3s;

}
.img2 {
	height: 40px;
	display: block;
	padding: 5px;
}
.content_line {
	background-color: rgba(255, 255, 255, 0.3);
	width: 550px;
	height: 300px;
	border-radius: 10px;
}
.img3 {
	height: 40px;
}
.content_line_box {}
.content_line_menu {}
.content_line_menu_wrap {
	display: flex;
	justify-content: space-around;
}
.content_line_menu_stories {}
.content_line_menu_reels {}
.content_line_menu_rooms {}
.content_line_stories {}
.content_line_stories_wrap {}
.content_line_stories_block {}
.content_contacts {}
.content_contacts_sponsored {}
.content_contacts_contacts {}
.contact_one {}
.contact_two {}
.contact_tree {}
.contact_four {}
.contact_five {}